<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <% if current_user.is_admin? %>
            <li><%= link_to t("genres.name"), admins_genres_path %></li>
          <% end %>
          <li>
            <%= link_to t("page.home.signout"), destroy_user_session_path,
              method: :delete %>
          </li>
        <% else %>
          <li><%= link_to t("page.home.signin"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
